{% extends "layout.html" %}
{% load staticfiles %}
{% block content_wrapper %}
<link rel="stylesheet" href="{% static "ayur/css/fwslider.css" %}" media="all">
<script src="{% static "ayur/js/jquery-ui.min.js" %}"></script>
<script src="{% static "ayur/js/fwslider.js" %}"></script>
<script src="{% static "ayur/js/menu_jquery.js" %}"></script>
<div class="container">
<div class="main">
	<div class="row content_top">
		<div class="col-md-9 content_left">
	<!-- start slider -->
    <div id="fwslider">
        <div class="slider_container">
            <div class="slide">
                <!-- Slide image -->
                    <img src="{% static "ayur/images/slider1.jpg" %}" class="img-responsive" alt=""/>
                <!-- /Slide image -->
            </div>
            <!-- /Duplicate to create more slides -->
            <div class="slide">
                <img src="{% static "ayur/images/slider2.jpg" %}" class="img-responsive" alt=""/>
            </div>
            <div class="slide">
                <img src="{% static "ayur/images/slider3.jpg" %}" class="img-responsive" alt=""/>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
    </div>

	<!-- end  slider -->
		</div>
		<div class="col-md-3 sidebar">
		<div class="grid_list">
			<a href="#">
				<div class="grid_img">
					<img src="{% static "ayur/images/grid_pic1.jpg" %}" class="img-responsive" alt=""/>
				</div>
				<div class="grid_text left">
					<h3><a href="#">New Collection</a></h3>
					<p>on select merchandise</p>
				</div>
				<div class="clearfix"></div>
			</a>
			</div>
		<div class="grid_list">
			<a href="#">
				<div class="grid_text-middle">
					<h3><a href="#">celina unpluged</a></h3>
					<p>on select merchandise</p>
				</div>
				<div class="grid_img last">
					<img src="{% static "ayur/images/grid_pic2.jpg" %}" class="img-responsive" alt=""/>
				</div>
				<div class="clearfix"></div>
			  </a>
			</div>
		<div class="grid_list">
			<a href="#">
				<div class="grid_img">
					<img src="{% static "ayur/images/grid_pic3.jpg" %}" class="img-responsive" alt=""/>
				</div>
				<div class="grid_text left">
					<h3><a href="#">active gear store</a></h3>
					<p>shop now</p>
				</div>
				<div class="clearfix"></div>
			</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- start content -->
	<div class="content">
		<div class="content_text">
			<h3>brand of the week</h3>
			<h4><a href="#">a touch of glamour </a></h4>
			<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
		</div>
		<!-- grids_of_3 -->
		<div class="row grids">
			<div class="col-md-3 grid1">
			  <a href="#">
				<img src="{% static "ayur/images/pic1.jpg" %}" class="img-responsive" alt=""/>
				<div class="look">
					<h4>get scraves</h4>
					<p>read more</p>
				</div></a>
			</div>
			<div class="col-md-3 grid1">
			  <a href="#">
				<img src="{% static "ayur/images/pic2.jpg" %}" class="img-responsive" alt=""/>
				<div class="look">
					<h4>Fashion Tips</h4>
					<p>read more</p>
				</div></a>
			</div>
			<div class="col-md-3 grid1">
			  <a href="#">
				<img src="{% static "ayur/images/pic3.jpg" %}" class="img-responsive" alt=""/>
				<div class="look">
					<h4>Crop Levis</h4>
					<p>read more</p>
				</div></a>
			</div>
			<div class="col-md-3 grid1">
			  <a href="#">
				<img src="{% static "ayur/images/grid_pic3.jpg" %}""images/pic4.jpg" class="img-responsive" alt=""/>
				<div class="look">
					<h4>get scraves</h4>
					<p>read more</p>
				</div></a>
			</div>
		</div>
		<!-- end grids_of_3 -->
	</div>
	<!-- end content -->
</div>
</div>
{% endblock %}
